---
// Layout
import Layout from "../layouts/Layout.astro";

// Components
import Hero from "../components/pages/home/Hero.astro";
import MiloAndMe from "../components/pages/home/MiloAndMe.astro";
import Navbar from "../components/Navbar.astro";
import EmploymentReferences from "../components/pages/home/EmploymentReferences.astro";
---

<Layout title="Welcome to Astro.">
  <section class="bg-peach">
    <Navbar />
    <Hero />
    <MiloAndMe />
    <EmploymentReferences />
  </section>
</Layout>
