---
import BiceVida from "./icons/BiceVida.astro";
import Falabella from "./icons/Falabella.astro";
import SbPay from "./icons/SbPay.astro";
---

<div
  class="relative overflow-hidden 2xl:max-w-7xl xl:w-[50rem] w-full h-[5rem] [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-200px),transparent_100%)]"
>
  <div class="absolute flex items-center gap-20">
    <div class="flex items-center gap-20 animate-infinite-scroll">
      <BiceVida class="hover:scale-110 transition-transform" />
      <SbPay class="hover:scale-110 transition-transform" />
      <Falabella class="hover:scale-110 transition-transform" />
    </div>
    <div class="flex items-center gap-20 animate-infinite-scroll">
      <BiceVida class="hover:scale-110 transition-transform" />
      <SbPay class="hover:scale-110 transition-transform" />
      <Falabella class="hover:scale-110 transition-transform" />
    </div>
    <div class="flex items-center gap-20 animate-infinite-scroll">
      <BiceVida class="hover:scale-110 transition-transform" />
      <SbPay class="hover:scale-110 transition-transform" />
      <Falabella class="hover:scale-110 transition-transform" />
    </div>
    <div class="flex items-center gap-20 animate-infinite-scroll">
      <BiceVida class="hover:scale-110 transition-transform" />
      <SbPay class="hover:scale-110 transition-transform" />
      <Falabella class="hover:scale-110 transition-transform" />
    </div>
  </div>
</div>
