---
import ChatIcon from "./icons/ChatIcon.astro";
import FlowerIcon from "./icons/FlowerIcon.astro";
---

<header
  class="bg-white px-6 py-7 rounded-xl absolute left-1/2 top-10 -translate-x-1/2 2xl:max-w-7xl w-[60%] z-10"
>
  <nav class="flex gap-5 items-center justify-between">
    <li>
      <a class="flex gap-2 items-center font-caveat-bush text-orange" href="#">
        <FlowerIcon />
        <span class="text-[24px]">Vero Mendoza</span>
      </a>
    </li>
    <li class="hover:scale-110 hover:transition-transform">
      <a class="underline font-bold font-lato text-blue-deep" href="#"
        >Sobre mi</a
      >
    </li>
    <li class="hover:scale-110 hover:transition-transform">
      <a class="font-lato text-blue-deep" href="#">Experiencia</a>
    </li>
    <li class="hover:scale-110 hover:transition-transform">
      <a class="font-lato text-blue-deep" href="#">Casos recientes</a>
    </li>
    <li class="hover:scale-110 hover:transition-transform">
      <a
        class="font-lato font-bold bg-orange text-white p-2 rounded-md"
        href="#">¡Hablemos!</a
      >
    </li>
    <li class="hover:scale-110 hover:transition-transform">
      <a class="font-lato" href="#"><ChatIcon /></a>
    </li>
  </nav>
</header>

<style>
  li {
    list-style: none;
  }
</style>
