---
import Line from "../../Line.astro";
---

<section
  class="2xl:max-w-7xl mx-auto grid xl:grid-cols-[500px_600px] lg:grid-cols-[300px_450px] md:grid-cols-[550px] grid-cols-1 justify-center items-start mt-60 xl:px-0 px-10 pb-10 reveal-left-animation"
>
  <div class="flex flex-col justify-center gap-5">
    <h3 class="text-orange xl:text-[96px] text-[50px] font-caveat-bush">
      Experiencia
    </h3>
    <img
      class="hidden lg:block w-1/2"
      src="./images/three pink flowers.webp"
      alt="flower"
    />
  </div>

  <article class="flex xl:mt-0 mt-10">
    <Line />
    <div class="flex flex-col justify-center gap-10">
      <div class="flex flex-col gap-5">
        <span
          class="self-start font-caveat-bush text-white bg-blue-deep p-1 rounded-sm text-2xl ml-7"
          >Actualmente</span
        >
        <p
          class="text-orange font-caveat-bush xl:text-[40px] text-[32px] xl:leading-normal leading-9 flex items-center gap-2"
        >
          <span class="w-[20px] h-[5px] bg-orange-light"></span>
          Product Designer en BICE VIDA
        </p>

        <p
          class="text-blue-deep xl:text-xl text-base font-lato text-balance ml-7"
        >
          <strong>Investigación y Diseño UX/UI</strong> de los productos digitales
          de seguros colectivos, incluyendo los procesos de post-venta (2023)
        </p>
      </div>
      <div class="flex flex-col gap-5">
        <p
          class="text-orange font-caveat-bush xl:text-[40px] text-[32px] flex items-center gap-2"
        >
          <span class="w-[20px] h-[5px] bg-orange-light"></span>
          UI Designer en BICE VIDA
        </p>

        <p
          class="text-blue-deep xl:text-xl text-base font-lato text-balance ml-7"
        >
          <strong>Diseñador de interfaz</strong> para el producto de seguro colectivo
          de vida y salud “Mi Pyme segura” (2022-2023)
        </p>
      </div>
      <div class="flex flex-col gap-5">
        <p
          class="text-orange font-caveat-bush xl:text-[40px] text-[32px] flex items-center gap-2"
        >
          <span class="w-[20px] h-[5px] bg-orange-light"></span>
          UX/UI Designer en Sbpay
        </p>

        <p
          class="text-blue-deep xl:text-xl text-base font-lato text-balance ml-7"
        >
          <strong>Investigación y diseño UX/UI</strong> para el producto financiero
          “Mi tarjeta Sbpay”, incluyendo la sucursal virtual (2022)
        </p>
      </div>
      <div class="flex flex-col gap-5">
        <p
          class="text-orange font-caveat-bush xl:text-[40px] text-balance text-[32px] xl:leading-normal leading-9 flex items-center gap-2"
        >
          <span class="w-[20px] h-[5px] bg-orange-light"></span>
          UX Designer e ilustradora en Bigmind
        </p>

        <p
          class="text-blue-deep xl:text-xl text-base font-lato text-balance ml-7"
        >
          <strong>Investigación y diseño de propuesta</strong> según las necesidades
          de distintos clientes. Diseño UX llevado a otros campos no solo digitales
          (2021-2022)
        </p>
      </div>
      <p
        class="text-orange font-caveat-bush xl:text-[40px] text-balance text-[32px] xl:leading-normal leading-9 flex items-center gap-2 -mb-[2.08rem] md:-mb-[0.98rem] xl:-mb-[1.7rem]"
      >
        <span class="w-[20px] h-[5px] bg-orange-light"></span>
        Trabajos como diseñadora Gráfica
      </p>
    </div>
  </article>
</section>
