<section
  class="2xl:max-w-7xl px-10 mx-auto items-center justify-center grid xl:grid-cols-[450px_550px] xl:grid-rows-[550px_1fr] xl: gap-x-28 grid-cols-1 grid-rows-[1fr_300px_5px] mt-32 gap-y-5"
>
  <div class="flex flex-col">
    <h3 class="text-orange xl:text-[128px] text-[54px] font-caveat-bush">
      Milo y yo.
    </h3>

    <div class="flex flex-col gap-10 text-balance">
      <p class="text-blue-deep font-lato">
        <span class="text-orange">Yo:</span> Artista plástica con especialización
        en
        <strong>diseño gráfico</strong> egresada de la Universidad Arturo Michelena.
        Diplomada en <strong>
          diseño de experiencia de usuario e interfaces digitales.
        </strong>
      </p>

      <p class="text-blue-deep font-lato">
        Con pasión por entender el mundo, lo que me ayuda crear productos con un
        enfoque en las <strong>necesidades del usuario</strong> y sobretodo disfrutando
        del trabajo en equipo y la colaboración.
      </p>

      <p class="text-blue-deep font-lato">
        <span class="text-orange">Milo:</span> 3 años, adoptado, graduado en movimiento
        de cola feliz y en dar la patita (A veces).
      </p>
    </div>
  </div>

  <img
    class="z-20 xl:ml-32 xl:mt-44 xl:w-auto md:w-1/2 w-3/4 md:mt-20 lg:mt-40 justify-self-end"
    src="./images/milo.webp"
    alt="dog"
  />
  <img
    class="xl:col-start-1 xl:col-end-3 z-10 xl:-mt-5 md:mt-10 lg:mt-56 -mt-36"
    src="./images/grass.webp"
    alt="grass"
  />
</section>
