<section
  class="2xl:max-w-7xl mx-auto grid lg:grid-cols-[450px_450px] grid-cols-1 justify-center items-center gap-16 py-40 reveal-left-animation px-10"
>
  <div class="flex flex-col">
    <h3 class="text-[#323231] lg:text-[100px] text-[80px] font-grafie">
      Milo y yo.
    </h3>

    <div class="flex flex-col gap-10 text-balance">
      <p class="font-lato">
        <span class="text-gray font-bold">Yo:</span> Artista plástica con especialización
        en
        <strong class="text-blue">diseño gráfico</strong> egresada de la Universidad
        Arturo Michelena. Diplomada en <strong class="text-blue">
          diseño de experiencia de usuario e interfaces digitales.
        </strong>
      </p>

      <p class="font-lato">
        Con pasión por entender el mundo, lo que me ayuda crear productos con un
        enfoque en las <strong class="text-blue">necesidades del usuario</strong
        > y sobretodo disfrutando del trabajo en equipo y la colaboración.
      </p>

      <p class="font-lato">
        <span class="text-gray font-bold">Milo:</span> 3 años, adoptado, graduado
        en movimiento de cola feliz y en dar la patita (A veces).
      </p>
    </div>
  </div>

  <img class="object-cover hidden lg:block" src="./images/me.webp" alt="me" />
</section>

<img class="w-full" src="./images/line.png" alt="line" />
